.quiz-list {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
