.header {

  &__toolbar {
   height: 9.6rem;
  }

  &__logo {
    height:100%;
    padding : .5rem;
  }

  &__title {
    color: var(--color-text-secondary);
    text-decoration: none;

    &:hover, &:visited {
      text-decoration: none;
      color: var(--color-text-secondary);
    }
  }

  &__placeholder {
    flex: 1;
  }

  &__status {
    &--ko {
      color: var(--color-error);
    }

    &--partial {
      color: orange;
    }

    &--full {
      color: var(--color-success-background);
    }

    &--unknown {
      color: grey;
    }
  }

  &__user {
    display:flex;
    align-items: center;

    & > * {
      margin-left: 2rem;
    }

    &--icon {
      font-size: 5rem;
      width: 5rem;
      height: 5rem;
    }
  }
}

.header__logo-img {
  height: 100%;
}
