<div class="dashboard">
  <div class="dashboard__header">
    <h2>{{'welcomePage.dashboard.title' | translate}}</h2>
  </div>

  @if (quizzes$ | async; as quizzes) {
    <div class="dashboard__quizzes">
      @if (quizzes.status === 'OK') {
        <qzy-quiz-list [quizzes]="quizzes" (createQuiz)="createQuiz()" (startQuiz)="startQuiz($event)" ></qzy-quiz-list>
      } @else {
        <div class="dashboard__error">
          {{ 'welcomePage.dashboard.errorLoadingQuizzes' | translate }}
        </div>
      }
    </div>
  } @else {
    <div class="dashboard__loading">
      {{ 'welcomePage.dashboard.loading' | translate }}
    </div>
  }
</div>
